<core-navbar [_window]="_window"></core-navbar>
<div class="bg-primary-bg text-white pb-5">
  <div *ngIf="!paper?.banner">
    <div style="min-height: 15vh"></div>
    <div
      class="text-center"
      [style.fontFamily]="_window.language==='fa-ir' ? 'yekan-bakh-heavy' : 'inherit'"
    >
      <p class="h2 dropshadow">{{paper?.title}}</p>
    </div>
  </div>

  <div
    *ngIf="paper?.banner"
    class="page-header mb-n1 overflow-hidden"
    style="z-index: auto; height: 40vh"
    [style.fontFamily]="_window.language==='fa-ir' ? 'yekan-bakh-heavy' : 'inherit'"
    class="bg-{{_window.theme}}"
  >
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="z-index: auto;
      background-image: url({{mediaUrl + paper?.banner}});"
    ></div>

    <div class="container pt-5">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="mt-5">
          <p class="h2 dropshadow">{{paper?.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-3">
    <div *ngIf="!paper && !error" class="justify-content-center d-flex">
      <ng-lottie [options]="options" [styles]="styles" width="80vw">
      </ng-lottie>
    </div>
    <div
      *ngIf="error"
      style="min-height: 50vh"
      class="d-flex justify-content-center align-items-center"
    >
      <ng-lottie [options]="options404" width="55vw"></ng-lottie>
    </div>
    <div *ngIf="paper?.date_created">
      <p class="text-muted my-2 mt-5" style="text-align: right">
        نوشته شده در تاریخ {{paper?.date_created | jalali}}
      </p>
      <mat-divider style="border-top-color: #6c757d"></mat-divider>
    </div>
    <div
      *ngIf="paper?.text"
      [innerHTML]="paper?.text | sainitizeHtml"
      class="mt-3"
    ></div>
    <div *ngIf="paper?.tags">
      <p class="my-2 mt-5" style="text-align: right">برچسب ها</p>
      <mat-divider style="border-top-color: #6c757d"></mat-divider>
      <p class="d-flex" style="direction: rtl">
        <a class="mx-1" *ngFor="let item of paper?.tags" href="/tags/{{item}}"
          >{{item}}</a
        >
      </p>
    </div>
  </div>
</div>
<core-footer [_window]="_window"></core-footer>
